<% user.chat_room.messages.last(10).each do |message| %>
  <%if message.sender_id != user.id %>
    <div class="direct-chat-msg">
      <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Admin</span>
        <span class="direct-chat-timestamp pull-right"><%= message.created_at.strftime("%d %b %l:%M %P ") %></span>
      </div><!-- /.direct-chat-info -->
      <div class="direct-chat-text reciever-message">
        <span>Hello, <%= user.email %></span>
        <br/>
        <%= message.content %>
        <br/>
        <span>Thank you!</span>
      </div>
      <div class="clearfix"></div>
    </div>
  <%end%>
<%end%>
<script type="text/javascript">
  $(".direct-chat-messages").animate({ scrollTop: $(".direct-chat-messages")[0].scrollHeight}, 1000);
</script>
<style type="text/css">
.msg-replies{
  background-color: darkgray;
  color: #fff;
  padding: 5px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
}
</style>