<% get_messages = current_user.chat_room.messages.where(:visible => true).last(10) %>
<% if get_messages.present? %>
  <% get_messages.group_by{|x| x.created_at.strftime("%A %d %B, %Y")}.each do |key, messages| %>
    <div class="conservation-time"><%= key %></div>
    <% messages.each do |message| %>
      <div id="new_message<%= message.id %>">
        <%= render partial: "message", :locals => { message: message , :user => current_user} %>
      </div>
    <% end %> 
  <%end%>
<% end %>
<script type="text/javascript">
  $(".start-chat").click(function(){
    var message_id = $(this).attr("id");
    title = message_id
    $.ajax({
      method: "POST",
      url: "/rooms",
      data: { room:{ title: title}, message_id: message_id},
      dataType: "script"
    })
    .done(function( msg ) {
      setTimeout(function(){
        refreshPartial();
      }, 1000);
    });
  });
</script>