<% if user_signed_in? && current_user.admin? %>
    <script type="text/javascript">
      window.location.href="/admin/dashboard"  
    </script>
  <% end %>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Messages
      <small>Preview page</small>
    </h1>
  </section>
  <section class="content">
    <div class="container app">
      <div class="row app-one">
        <div class="col-sm-12 conversation">
          <div class="row message direct-chat-messages" id="room-<%= current_user.chat_room.id %>">
            <%= render "messages" %>
          </div>
          <div class="row reply">
            <%= form_tag("/messages", method: 'post', :remote => true) do %>
              <div class="col-sm-11 col-xs-11 reply-main">
                <div class="maxl">
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="entertainment" checked>
                    <span> Entertainment </span> 
                   </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="shopping">
                    <span>Shopping </span> 
                  </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="food">
                    <span>Food </span> 
                   </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="fashion_and_beauty">
                    <span>Fashion & Beauty </span> 
                  </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="fitness_and_health">
                    <span>Fitness & Health </span> 
                   </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="travel">
                    <span>Travel </span> 
                  </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="sports">
                    <span>Sports </span> 
                   </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="electronics">
                    <span>Electronics </span> 
                  </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="education">
                    <span>Education </span> 
                  </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="romance">
                    <span>Romance </span> 
                  </label>
                  <label class="radio inline"> 
                    <input type="radio" name="category" value="others">
                    <span>Others </span> 
                  </label>
                </div>
                <textarea class="form-control" rows="1" name="message" id="messages" placeholder="Type Message ..." required></textarea>
              </div>
              <div class="col-sm-1 col-xs-1 reply-send">
                <button type="submit" class="btn btn-default" title="Send Message">Send</button>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
  jQuery(function() {
    return $('#messages').autocomplete({
      source: "/messages/index"
    });
  });
</script>
<style type="text/css">
  ul.ui-autocomplete {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px #999;
    cursor: default;
  }
  ul.ui-autocomplete li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 5px;
  }
  ul.ui-autocomplete li div {
    color: #000;
    display: block;
    padding: 3px;
  }
  ul.ui-autocomplete li div.ui-state-hover,
  ul.ui-autocomplete li div.ui-state-active {
    background-color: #FFFCB2;
  }
  .category-box{
    height: auto;
  }
  .maxl{
    float: left;
    height: auto;
    width: auto;
    margin-bottom: 15px !important;
    border-radius: 5px;
  }
  .maxl .inline {
    margin: 5px;
    font-weight: 400;
    color: #333;
  }
</style>