<% if user_signed_in? && current_user.admin? %>
    <script type="text/javascript">
      window.location.href="/admin/dashboard"  
    </script>
  <% end %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Messages
      <small>Preview page</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container app">
      <div class="row app-one">
        <div class="col-sm-12 conversation">
          <div class="row heading">
            <div class="col-sm-8 col-xs-7 heading-name">
              <a class="heading-name-meta"><%= current_user.name %>
              </a>
              <span class="heading-online">Online</span>
            </div>
          </div>
          <div class="row message direct-chat-messages" id="room-<%= current_user.chat_room.id %>">
            <%= render "messages" %>
          </div>
          <div class="row reply">
            <%= form_tag("/messages", method: 'post', :remote => true) do %>
              <div class="col-sm-11 col-xs-11 reply-main">
                <textarea class="form-control" rows="1" name="message" id="messages" placeholder="Type Message ..." required></textarea>
              </div>
              <div class="col-sm-1 col-xs-1 reply-send">
                <button type="submit" class="transparent" title="Send Message"><i class="fa fa-send fa-2x" aria-hidden="true"></i></button>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
  jQuery(function() {
    return $('#messages').autocomplete({
      source: "/messages/index"
    });
  });
</script>
<style type="text/css">
  ul.ui-autocomplete {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px #999;
    cursor: default;
  }
  ul.ui-autocomplete li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 5px;
  }
  ul.ui-autocomplete li div {
    color: #000;
    display: block;
    padding: 3px;
  }
  ul.ui-autocomplete li div.ui-state-hover,
  ul.ui-autocomplete li div.ui-state-active {
    background-color: #FFFCB2;
  }

</style>