<% if user_signed_in? && current_user.admin? %>
    <script type="text/javascript">
      window.location.href="/admin/dashboard"  
    </script>
  <% end %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Messages
      <small>Preview page</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Direct Chat -->
    <div class="row">
      <div class="col-md-6 col-centered">
        <!-- DIRECT CHAT PRIMARY -->
        <div class="box box-primary direct-chat direct-chat-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Direct Chat</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages" id="room-<%= current_user.chat_room.id %>">
              <%= render "messages" %>
            </div><!--/.direct-chat-messages-->
          </div><!-- /.box-body -->
          <div class="box-footer">
            <%= form_tag("/messages", method: 'post', :remote => true) do %>
              <div class="input-group">
                <input type="text" name="message" id="messages" placeholder="Type Message ..." class="form-control">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-flat">Send</button>
                </span>
              </div>
            <%end%>
          </div><!-- /.box-footer-->
        </div><!--/.direct-chat -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
  jQuery(function() {
    return $('#messages').autocomplete({
      source: "/messages/index"
    });
  });
</script>
<style type="text/css">
  ul.ui-autocomplete {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px #999;
    cursor: default;
  }
  ul.ui-autocomplete li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 5px;
  }
  ul.ui-autocomplete li div {
    color: #000;
    display: block;
    padding: 3px;
  }
  ul.ui-autocomplete li div.ui-state-hover,
  ul.ui-autocomplete li div.ui-state-active {
    background-color: #FFFCB2;
  }
</style>