<div class="message sent">
  <span class="pull-left-width"><%= message.content %></span>
  <span class="metadata">
    <span class="time"><%= message.created_at.strftime(" %l:%M %P ") %></span>
  </span>
</div>