<div class="user-bar">
    <div class="avatar">
        <img src="/assets/zineya-logo-84dd3eefec9290400defba8c287ceb0693eb7855a8a8c65f84df2328e885020a.png" alt="Avatar">
    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Login</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="box-body">
            <% flash.each do |key, value| %>
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <%= value %>
                </div>
                <% end %>
                    <div class="form-group form-group-register">
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
                            <span class="fa fa-envelope input-icon"></span>
                    </div>
                    <div class="form-group form-group-register">
                        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                            <span class="fa fa-lock input-icon"></span>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-size">Login</button>
                    </div>
        </div>
        <% end %>
            <div class="box-footer">
                <p>OR</p>
            </div>
            <div class="box-footer">
                <a href="/auth/facebook" class="btn-facebook"> <span class="fa fa-facebook"></span> Sign in using Facebook</a>
            </div>
            <div class="box-footer">
                <a href="/register">Register a new membership</a>
            </div>
</div>