<div style="margin-left: 10px;">
	<span class='reply-text'>
		<strong><%= message.sender.email %>:</strong> <%= message.content %>
	</span>
	<span class='text-muted pull-right'><%= message.created_at.strftime("%d %b %l:%M %P ") %></span>
</div>
</br>