<div class="conversation">
    <div class="conversation-container admin">
        <%= render "messages" %>
    </div>
</div>


<script type="text/javascript">
    $(".start-chat").click(function() {
        var message_id = $(this).attr("id");
        title = message_id
        $.ajax({
                method: "POST",
                url: "/admin/create.js",
                data: jQuery.param({
                    room: {
                        title: title
                    },
                    message_id: message_id
                })
            })
            .done(function(msg) {
                setTimeout(function() {
                    refreshPartial();
                }, 1000);
            });
    });
</script>