<section class="content">
  <div class="container">
    <div class="row app-one">
      <div class="col-sm-12 conversation">
        <div class="row message direct-chat-messages" id="direct-chat-messages" style="min-height: 500px !important">
          <%= render partial: "messages" %>
        </div>  
      </div>  
    </div>  
  </div>  
</section>