<section class="content">
  <div class="container">
    <div class="row app-one">
      <div class="col-sm-12 conversation">
        <div class="row message direct-chat-messages" id="direct-chat-messages" style="min-height: 500px !important">
          <%= render partial: "messages" %>
        </div>  
      </div>  
    </div>  
  </div>  
</section>  
<script type="text/javascript">
  $(".slidingDiv").hide();
  $(".show_hide").show();
  $(".direct-chat-messages").animate({ scrollTop: $(".direct-chat-messages")[0].scrollHeight}, 1000);
  $(".reply-btn").click(function(){
    var id = $(this).attr("id");
    $("#reply-"+id).removeClass("hidden");
    $("#"+id+"-cancel").removeClass("hidden");
    $("#"+id).addClass("hidden");
  })
  $(".cancel-btn").click(function(){
    var id = $(this).attr("id").split("-cancel")[0];
    $("#reply-"+id).addClass("hidden");
    $("#"+id+"-cancel").addClass("hidden");
    $(".reply-btn#"+id).removeClass("hidden");
  });
  $('.show_hide').click(function () {
    $(".direct-chat-messages").animate({ scrollTop: $(".direct-chat-messages")[0].scrollHeight}, 1000);
    var getId = $(this).attr("id");
    $("#slidingDiv"+getId).toggle("slide");
  });
</script>