<div class="content-wrapper">
  <section class="content-header">
    <h1>New Categories</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
      	<div class="box">
          <div class="users-filters">
            <div class="row">
              <div class="col-md-12" style="margin-bottom: 10px;">
      					<%= render 'form' %>
      				</div>
      			</div>
      		</div>
      	</div>				
      </div>
    </div>
  </section>
</section>      	
